/Методички Python/Методичка. Урок 1.pdf
/Методички Python/Методичка. Урок 2.pdf
/Методички Python/Методичка. Урок 3.pdf
/Методички Python/Методичка. Урок 4.pdf
/Методички Python/Методичка. Урок 5 (1).pdf
/Методички Python/Методичка. Урок 6.pdf
/Методички Python/Методичка. Урок 7.pdf
/Методички Python/Методичка. Урок 8.pdf
/Методички Python/Методичка. Урок 9.pdf
/Методички Python/Методичка. Урок 10.pdf
/Методички Python/Методичка. Урок 11.docx.pdf
